#section_happening_now {
  margin-block-start: -2.5rem;
}

#section_happening_now .article_card {
  border-radius: 0.375rem;
  margin-block-end: 2.5rem;
}

#section_happening_now .article_simple:first-of-type::before {
  content: "";
  display: block;
  height: 0;
  border-block-start: 2px solid #EBEDED;
  padding-block-start: 2.5rem;
}

@media (min-width:768px) {
  #section_happening_now .article_card {
    padding: 2rem 2.5rem;
  }
  #section_happening_now {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    grid-template-areas:
    "header header"
    "item1 item1"
    "item2 item2"
    "item3 item4";
  }
  section > header {
    grid-area: header;
  }
  .article_card:nth-of-type(1) {
    grid-area: item1;
  }
  .article_card:nth-of-type(2) {
    grid-area: item2;
  }
  .article_card:nth-of-type(3) {
    grid-area: item3;
  }
  .article_card:nth-of-type(4) {
    grid-area: item4;
  }
}

@media (min-width:1160px) {
  #section_happening_now {
    margin-inline-start: 4.5rem;
  }
  .article_card:nth-of-type(1) {
    max-width: 760px;
  }

  .article_card:nth-of-type(2) {
    max-width: 760px;
  }
}
