@font-face {
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 700;
  src:  local('Roboto'), local('Roboto Bold')
        url(../css/fonts/AnyConv.com__Roboto-Bold.woff2) format('woff2'),
        url(../css/fonts/AnyConv.com__Roboto-Bold.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 400;
  src:  local('Roboto'), local('Roboto Regular')
        url(../css/fonts/AnyConv.com__Roboto-Regular.woff2) format('woff2'),
        url(../css/fonts/AnyConv.com__Roboto-Regular.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-family: 'Roboto';
  font-weight: 400;
  src:  local('Roboto'), local('Roboto Regular')
        url(../css/fonts/AnyConv.com__Roboto-Italic[1].woff2) format('woff2'),
        url(../css/fonts/AnyConv.com__Roboto-Italic[1].woff) format('woff');
  font-display: swap;
}
